.single-news {
  width: 400px;
  height: 400px;
}
.news-img {
  width: 400px;
  height: 200px;
}
.news-card {
  display: flex;
  justify-content: center;
}
.news-btn {
  border: 0;
  background-color: #214d72 !important;
}
